/*The font that I got from Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*NavBar*/
  li {
    margin: 0 2.5em;
  }

/*logo*/
img[alt="logo"] {
    width: 100%
}

body {
  background-color: #F5CAC3;
  
}